h1
{
  text-shadow:#D62828 2.5px 2.5px 0,
  #F77F00 5px 5px 0,
  #FCBF49 7.5px 7.5px 0,
  #EAE2B7 10px 10px 0,
  #333 12.5px 12.5px 10px;color:#003049;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 20px;
}
nav{
  margin-top: 20%;
  margin-bottom: 0%;
  padding-bottom: 0px;
  width: 100%;
}
ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: left;
}
li a{
  border: 2px solid;
  border-color: #FCBF49;
}

li a {
  display: block;
  color: #D62828;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: #D62828;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color:#F77F00;
}
.botton1{
  padding-top: 10%;
  padding-left:100px;
  padding-right:1000px ;
}
.botton2{
  padding-top: 10%;
  padding-right:180px;
}
.botton3{
  margin-top: 100px;
  margin-left: 45%;
}
#acceuil{
background-image: url("C:\Users\hp\Desktop\background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 15px;
}
