
<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
  <a class="navbar-brand" href="#">TNB</a>
  <ul class="navbar-nav mr-auto">
  <li class="nav-item dropdown" ngbDropdown>
    <a  class="nav-link" id="dropdownBasic1" ngbDropdownToggle>redevable</a>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button class="dropdown-item" routerLink="/redevable/ajouter-redevable">Ajouter Redevable</button>
      <button class="dropdown-item" routerLink="/redevable/acheter-terrain">Acheter Terrain</button>
      <button class="dropdown-item" routerLink="/redevable/chercher-achat">Chercher Achat</button>
    </div>
  </li>
    <li class="nav-item">
      <a routerLink="/secteur-quartier" class="nav-link">Secteur et Quartier</a>
    </li>

    <li class="nav-item dropdown" ngbDropdown>
      <a  routerLink="/notification" class="nav-link" id="notif" ngbDropdownToggle>Notification</a>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item" routerLink="/notification/details">Details</button>

      </div>
    </li>
  </ul>

</nav>

<div class="container pt-5">
  <router-outlet></router-outlet>
</div>
