h1{
  text-align: center;
  color: #F77F00;
}
.acheterUnterrain{
  padding: 60px;
}
.container{
  padding-top: 50px;
  padding-bottom: 20px;
}
#listedeterrain{
  margin-top: 30px;
  margin-bottom: 30px;
}
#head{
  display: none;
}

