<div class="container">
  <div class="row ">
    <div class="align-content-center m-auto ">
      <h1 class="pb-5 pt-5">Les Taxes TNB</h1>
    </div>
  </div>

  <div class="row">

    <div class="col-12">
      <div class="card ">
        <div class="card-header bg-primary border-primary">
          <p class="pb-2 pt-2"> All Payed taxes in database </p>
        </div>
        <div class="card-body p-2 ">

          <table class="table table-striped table-info">
            <thead class="thead-primary">
            <th>Id</th>
            <th>Redevable_Identifiant</th>
            <th>Terrain</th>
            <th>Date</th>
            </thead>
            <tbody>
            <tr *ngFor="let c of taxelist">
              <td>{{c.id}}</td>
              <td>{{c.redevable.identifiant}}</td>
              <td>{{c.terrain.categorie.libelle}}_{{c.terrain.quartier.libelle}}_{{c.terrain.surface}}</td>
              <td>{{c.annee}}</td>
            </tr>
            </tbody>
          </table>


        </div>
      </div>
    </div>

  </div>
</div>
